@import url("https://fonts.googleapis.com/css?family=Montserrat:100,200,300&family=Roboto&display=swap");

:root
{ 
--heading-font: "Monserrat";
--message-font: Roboto, Open Sans, sans-serif;
}

body {
    max-width: 1600px;
    margin: 0 auto;
    background-color: #fcfbfb; 
  }

#hero-msg h1, #hero-msg h4 {
    text-align: center;
  }

.button-box {
    text-align: center;
  }

main section {
    text-align: center;
  }

#background {
    height: 725px;
    margin: 0 auto;
    max-width: 960px;
    background-color: #d9c2a3;
}

header {
    background-color:rgba(20,30,13, .7);
    box-sizing: border-box;

}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
}

.book {
    background-color: #4f63;
    text-decoration: none;
}

.join {
    background-color: #396E94
}

.icon {
    width: 80px;
}
.main_image{
    box-sizing: border-box;
}
.logo {
    width: 80px;
}

.book:hover {
    background-color: #396E94
}

.join:hover {
    background-color: #396E94
}
.book, .join {
    background-color: #d9c2a3;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.card-img {
    border: 10px solid #d9c2a3;
}
main section img {
    box-sizing: border-box;
}
.msg {
    background-color: #4f63;
    line-height: 1.5em;
}
.msg h2 {
    font-family:var(--message-font);
}
.home-tittle {
    font-family:var(--heading-font);
    font-size: 2em;
}
footer {
    background-color: #4f63
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
    padding: 35px;
} 
footer p {
    font-size: 1.2em;
}    

footer p a:hover {
    text-decoration: underline;
}  

footer a {
    text-decoration:none;
}
