/* if you are using any Google fonts change the font names below to your fonts. 
Any spaces in your font name should be replaced with a +. 
Fonts are separated by a & */
@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  /* change the values below to your colors from your palette */
  --primary-color: #396E94   ;
  --secondary-color: #E7C24F ;
  --accent1-color: #A42212;
  --accent2-color: white;

  /* change the values below to your chosen font(s) */
  --heading-font: "Bebas Neue";
  --paragraph-font: Raleway, Open Sans, sans-serif;

  /* these colors below should be chosen from among your palette colors above */
  --headline-color-on-white: #396E94;  /* headlines on a white background */ 
  --headline-color-on-color: #DDDDDD; /* headlines on a colored background */ 
  --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
  --paragraph-color-on-color: #DDDDDD; /* paragraph text on a colored background */ 
  --paragraph-background-color: #331832  ;
  --nav-link-color: #4f6367;
  --nav-background-color: #941B2C;
  --nav-hover-link-color: #DDDDDD;
  --nav-hover-background-color: #4f6367;
}


/*  Look around below...but DON'T CHANGE ANYTHING! */

body {
  max-width: 960px;
  margin: 0 auto;
  padding: 4em;
  font-size: 18px;
}
img {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  border: 4px solid steelblue;
}
h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-font);
  color: var(--headline-color-on-white);
}
h1 {
  text-align: center;
  margin: 50px 0;
}
h2 {
  text-align: center;
}
hr {
  height: 3px;
  margin: 35px 0;
  background: var(--accent1-color);
}
header {
  padding: 1em;
  text-align: center;
  color: var(--headline-color-on-color);
  background-color: var(--paragraph-background-color);
}
header > h1, header > h2 {
  color: var(--headline-color-on-color);
}
p {
  font-family: var(--paragraph-font);
  color: var(--paragraph-color-on-white);
  padding: 1em;
}
.colors {
  width: 100%;
  min-width: 350px;
  margin: 30px auto;
  text-align: center;
}
.colors th {
  background-color: #999;
}
.colors td{
  width: 25%;
  height: 3em;
}
.primary {
  background-color: var(--primary-color);
}
.secondary {
  background-color: var(--secondary-color);
}
.accent1 {
  background-color: var(--accent1-color);
}
.accent2{
  background-color: var(--accent2-color);
}
p.colored {
  background-color: var(--paragraph-background-color);
  color: var(--paragraph-color-on-color);
}
nav {
  background-color: var(--nav-background-color);
  line-height: 3em;
  text-align: center;
  font-size: 1.2em;
}
nav, footer {
  background-color: steelblue;
  color: white;
  padding: 10px;
  text-align: center;
}
nav  {
  list-style-type: none;
  display: flex;
  padding: 25px;
}
nav a {
  padding:1em;
  min-width: 120px;
  text-decoration: none;
  padding: 10px;
}
nav a:link, nav a:visited {
  color: var(--nav-link-color);
}
nav a:hover {
  color: var(--nav-hover-link-color);
  background-color: var(--nav-hover-background-color);
}
.sitemap {
  display: grid;
  justify-content: center;

  grid-template-columns: repeat(6, 15%);
  grid-template-rows: 3em 1.5em 1.5em 3em;
  grid-template-areas: ". . home home . ."
    ". . . top . ."
    ". left left right right ."
    "page2 page2 . . page3 page3";
}
.sitemap > div {
  text-align: center;
}
.sm-home {
  grid-area: home;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page2 {
  grid-area: page2;
  background-color: #ccc;
  line-height: 3em;
}
.sm-page3 {
  grid-area: page3;
  background-color: #ccc;
  line-height: 3em;
}
.top {
  grid-area: top;
  border-left: 1px solid;
}
.left {
  grid-area: left;
  border-top: 1px solid;
  border-left: 1px solid;
}
.right {
  grid-area: right;
  border-top: 1px solid;
  border-right: 1px solid;
}
.main-para {
    font-size: 1.5em;
    line-height: 1.5em;
}
#active {
    background-color: white;
    color: steelblue;
}
img {
  width: 80%;
  display: block;
  margin: 0 auto;
}
p {
  width: 80%;
}
a {
  font-size: 1.5em;
  color:white
}
a {
  padding: 25px;
}
main p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
}

footer {
  background-color: steelblue;
  color: white;
}

footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
}
a:hover {
  background-color: white;
  color: steelblue;
}